@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Welcome to my project</h2>
    <p>Learn about details please click below </p>
    <a href="https://hackmd.io/uxORrPODT8CJ2uyG_RzpFw">HackMD</a>
</div>
